.container{
  height: 100%;
  background-color: #eaeef7;
}
/* 商品发布 */
.system{
  display: flex;
  color: #474d76;
  font-weight: 500;
  margin: 0 10px;
}
.el-icon-minus{
  color: #474d76;
  margin-top: 0.2%;
}
.el-icon-arrow-right{
  color: #474d76;
  margin-top: 0.2%;
}
/* 查询部分 */
.query{
  margin: 15px 10px;
  height: 10%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.search{
  display: flex;
  width: 45%;
  margin-left: 4%;
}
.frame{
  width: 40%;
  height: 40px;
  margin:auto 0;
}
.inp{
  width: 190px;
  margin-right: 10px;
}
.reset{
  color: #6484DD;
}
.category{
  display: flex;
  margin: auto 5%;
  color: #999;
}
.category-s{
  margin-top: 10px;
}
.choice{
  width: 40%;
}
.shelf{
  width: 25%;
  display: flex;
  margin: auto 0;
}
.onekey{
  margin-right: 10%;
}
/* 列表头 */
.list{
  height: 6.5%;
  background-color: #F6F7FC;
  display: flex;
  padding: 0 20px;
  color: #999;
  margin: 0 10px;
  border: 1px solid #AEB4DB;
  width: 96.2%;
}
.select{
  width:6%;
  text-align: center;
  margin: auto 0;
}
.select-a{
  color: #4360CA;
}
.imag{
  width: 12%;
  text-align: center;
  margin: auto 0;
}
.names{
  width: 12%;
  text-align: center;
  margin: auto 0;
}
.time{
  width: 15%;
  text-align: center;
  margin: auto 0;
}
.price{
  width: 15%;
  text-align: center;
  margin: auto 0;
}
.introduction{
  width: 12%;
  line-height: 25px !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align: center;
  margin: auto 0;
}
.categorysr{
  width: 10%;
  text-align: center !important;
  margin: auto 0;
}
.operation{
  width: 18%;
  text-align: center;
  margin: auto 0;

}
/* 列表内容 */
.contents{
  background-color: #fff;
  margin: 0 10px;
  color: #333;
  width: 98.7%;
}
.content-a{
  display: flex;
  padding: 0 20px;
  color: #666;
  height: 113px;
  border-bottom: 1px solid #EAEEF7;
}
.imag img{
  width: 75px;
  height: 75px;
}
.modify{
  display: flex;
  color: #4360CB;
}
.modify-s{
  margin-right: 30px !important;
  margin-left: 28%;
  cursor:pointer;
}
.line{
  margin-right: 30px;
}
/* 发布商品弹框 */
.dialo{
  width:85%;
  margin-left:15%;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #090808;
}
.uploads{
	display: flex;
	justify-content: flex-start;
  margin-left: 3%;
  margin-top: 3%;
}
.uploads .el-icon-plus:before{
  font-size: 65px;
}
.lianx{
  width: 250px;
  display: flex;
  margin-bottom: 10px;
}
.lianxs{
  width: 290px;
  display: flex;
  margin-bottom: 10px;
}
.tuik{
  width: 300px;
  text-align: right;
  line-height: 35px;
}
.tuiks{
  width: 300px;
  margin-top: 2px;
}
.consyt{
  margin-left: 5%;
}
.jine{
  width: 200px;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
}
.jin{
  width: 35%;
  line-height: 35px;
}
.all{
  display: flex;
}
.contenteditable{
  width:95%;
  height:130px;
  margin-top:10px;
  resize: none;
  outline-color:#84b9ee;
  border: 1px solid #e0e0e0;
}
.tu{
  font-weight: 500;
}
.el-icon-plus{
  /* text-align: center; */
  padding-top: 35%;
}
.uploads .el-upload--picture-card{
  width: 200px !important;
  height: 200px !important;
}

.brief{
  display: flex;
}
.consyt .el-input__inner {
  width: 138px !important;
}
.brief-s{
  width:170px;
  text-align: right;
  margin-top: 6px;
}
.number{
  width: 90px;
  height: 20px;
  position: relative;
  top: 120px;
  right: 65px;
}
.el-dialog__header{
  background: #F6F7FC;
  border: 1px solid #AEB4DB;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #090808;
  height: 20px !important;
}
.cancel{
  order: 1px solid #4360CB !important;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #425FCA;
}
.releases{
  background: linear-gradient(90deg, #425FCA 0%, #6484DD 100%);
}








